name: Run tests

on:
    push:
      branches:
        - ci-workflow
    pull_request:
      branches:
        -main
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      
      - name: Install dependancies
        run: | 
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt
      - name: Run tests
        run: pytest
      






	# your task: figure out the remainings steps 
	# that match your selected language. 
	# Hint: follow slide 11 for inspiration
	# You should first find an action that sets up the environment
	# for your selected programming language. 
	# You should then set up the steps to run similar to how you run
	# them locally